# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio 2019/2022 Rider settings
.vs/
.idea/

# Rider project
*.iml
out/

# Logs
*.log

# Maui specific
*.DS_Store
*.app
*.apk
*.aab
*.exe
*.dll
*.pdb

# Public html
*.inc
ini.inc
public_html/
